body {
  font-family: Arial;
  text-align: center;
  background: #0f0f1a;
  color: white;
  margin: 0;
}

header {
  padding: 40px;
}

.menu a {
  display: block;
  margin: 20px auto;
  padding: 15px;
  background: #4f46e5;
  color: white;
  text-decoration: none;
  width: 250px;
  border-radius: 10px;
}

input, button {
  padding: 10px;
  margin: 10px;
}
